common --color=yes

# build --incompatible_enable_cc_toolchain_resolution
build --repo_env=CC=clang

# For googletest to use absl
build --define="absl=1"
build --cxxopt="-std=c++17" --host_cxxopt="-std=c++17"

build --flag_alias=cuda=@rules_cuda//cuda:enable_cuda
build --flag_alias=cuda_gpu_arch=@rules_cuda//cuda:cuda_targets

build:cuda_clang --@rules_cuda//cuda:compiler=clang
build:cuda_clang --@rules_cuda//cuda:copts=-Wno-unknown-cuda-version

build:cuda_nvcc --@rules_cuda//cuda:compiler=nvcc
build:cuda_nvcc --@rules_cuda//cuda:copts=-allow-unsupported-compiler

build:gpu --cuda=yes
build:gpu --config=cuda_nvcc
build:gpu --@rules_cuda//cuda:cuda_runtime=@local_cuda//:cuda_runtime

# Make this configurable for x86_64 and aarch64
build:gpu --cuda_gpu_arch=sm_70,sm_75,sm_80,sm_86

build:cpu --cuda=no

try-import %workspace%/user.bazelrc
